@font-face {
   font-family: 'caviar-dreams';
   font-display: swap;
   src: url('caviar-dreams/font.ttf');
}
@font-face {
   font-family: 'ofont.ru_Magnolia';
   font-display: swap;
   src: url('ofont.ru_Magnolia/font.ttf');
}
