@font-face {
   font-family: 'ofont.ru_Magnolia';
   font-display: swap;
   src: url('file:///C:/Users/Windows%2010%201909%20Pro/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-08-07_225032/fonts/ofont.ru_Magnolia/font.ttf');
}
